[main]
name = mrim.mydomain.org
password = secret
# -- optional --
# admins = petya@jabber.org, vasya@jabber.ru
# -- defaults --
# server = localhost
# disconame = Mail.ru IM
# port = 5347
# reconnect = on
# probe = on
# show_version = on
# show_os = on
# psyco = off

[profile]
type = xml
dir = /var/spool/mrim

[logger]
logfile = /var/log/mrim/mrim.log
loglevel = info
# --- logger defaults ---
# timestamp = %%d/%%m/%%y-%%H:%%M:%%S

