[main]
name = mrim.mydomain.org
password = secret
# -- optional --
# admins = petya@jabber.org, vasya@jabber.ru
# -- defaults --
# server = localhost
# disconame = Mail.ru IM
# port = 5347
# reconnect = on
# probe = on
# show_version = on
# show_os = on
# psyco = off
# -- http proxy for avatars (default is none) --
# http_proxy = http://localhost:3128
# -- PID file (default is none) --
# pidfile = /var/run/mrim.pid

[profile]
type = xml
dir = /var/spool/mrim

[logger]
logfile = /var/log/mrim/mrim.log
loglevel = info
# --- logger defaults ---
# timestamp = %%d/%%m/%%y-%%H:%%M:%%S
# xml_formatting = off
